<div id="fb-root"></div>
<script type="text/javascript">
  window.fbAsyncInit = function() {
    FB.init({
        appId: '<%= Facebook::APP_ID.to_s %>',
        status: true,
        cookie: true,
        xfbml: true
    });

    FB.Canvas.setAutoResize(100);
  };

  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
    '//connect.facebook.net/<%= locale %>/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());

  var login = function(targetUrl, perms) {
    if (perms == null) {
      perms = "<%= perms %>"
    }
    FB.login(function(response) {
      if (response.session) {
        } else {
          //pending to do when not logged in
        }
    }, {perms: perms});
  }

</script>