<div id="fb-root"></div>
<script type="text/javascript">
  window.fbAsyncInit = function() {
    // hack to stop FB from wrecking our SSL
    // despite the fact that it requires SSL
    if (document.location.protocol == 'https') {
      FB._https = true;
    }
    
    FB.init(<%= options.to_json.html_safe %>);
    
    // Too buggy to include by default =/
    // thanks again FB
    // FB.Canvas.setAutoGrow(101);
    
    // wrap document.ready in the callback from this
    <%= callback || 'fb_init' %>();
  };
  
  (function(d){
     var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     d.getElementsByTagName('head')[0].appendChild(js);
   }(document));

   function fb_init() {
     
   }
</script>

